*{padding: 0px;
margin: auto;}

.noto-serif{
  font-family: "Noto Serif", serif;
  font-style: normal;

    
}
body{background-color: aliceblue;}

/* common style  */
.flex{display: flex;}
.color1{color:#E95A08 ;}
.color2{color:rgba(0, 0, 0, 0.5) ;}
.color3{color: #000000;}

.hide2{display: none;}


/* header  */
header{margin-top: 30px; max-width: 1140px;}
nav{gap: 595px;}
.navbar{gap: 48px;}
.nav-item{list-style: none; }
.nav-link{ text-decoration: none; color: #000000;}
.color-cg{ color:rgba(0, 0, 0, 0.5) ;}

/* hero  */
.hero{margin-top: 120px  ; max-width: 1140px; }
.hero-text{max-width: 570px; margin-top: 162px; }
.hero-title{font-size: 4.06rem; font-weight: bold;}
.hero-para{font-size: 1.375rem; margin-top:13px ;}
.hero-image{width: 100%; margin-top: 106px;}

/* card  */
.container{ max-width: 1140px; margin-top: 135px;}

.section-title{text-align: center;}
.card-head{font-size:3.125rem ;}
.card-para{font-size: 1.466rem;}

.product-grid{display: grid; grid-template-columns: repeat(4,1fr);}

.product-grid{margin-top: 49px;}
.product-card{ text-align: center; margin-bottom: 30px;}
.product-title{font-size:1.375rem; margin-top: 30px;}
.product-price{font-size: 1.375rem; font-weight: bold; margin-top: 20px; margin-bottom: 30px; padding-left: 30px;}

.product-grid button{background-color: #E95A08; color: white; border: none;
padding:19px 90px ;}

/* shop  */
.plant-store{ margin-top: 210px; max-width: 1140px; justify-content: center; position: relative;}
.plant-left{max-width: 540px;}
.saller{width: 100%;}
.badge{width: 286px; position: absolute; top: -120px; right: 500px;  }
.plant-right{max-width: 540px;  margin-left: 60px;}
.plants-lover{font-size:3.125rem ; margin-bottom: 20px; }

.lover-item{font-size:1.375rem ; margin-bottom: 20px; margin-left: 30px;}

/* deal  */
.deal{text-align: center; margin-top: 130px; padding: 0px 140px;}
.deal-title{font-size: 3.125rem;font-weight: bold; margin-bottom: 30px;}
.deal-para{font-size:1.375rem ;}

/* off  */
.discount{margin-top: 130px; max-width: 1140px; }

.inside-one{background-image: url(../images/deal-ana.png); width: 367px; height: 201px; background-repeat: no-repeat; text-align: center;  border-radius: 14px;}
.inside-two{background-image: url(../images/deal-bloom.png); width: 367px; height: 197px; background-repeat: no-repeat; text-align: center;  border-radius: 14px; margin-top: 25px; }
.off-big{color:#FFFFFF ; padding-top: 65px; padding-bottom: 19px; font-size:1.25rem ; font-weight: bold;  }
.shop{ color: #FFFFFF; font-size: 1rem; }

.discount-right{background-image: url(../images/deal-zabo.png); width:753px ; height: 423px; background-repeat: no-repeat; border-radius: 22px; margin-left: 28px; text-align: center;}
.off-small{ font-size: 2.5rem; font-weight: bold; padding-top: 172px; color: #FFFFFF;}
.now{font-size: 1.75rem; font-weight: 600;}

/* join  */
.join{max-width: 1440px; height: 533px;  background-image: url(../images/news-letter-bg.png);  background-repeat:no-repeat; text-align: center; margin-top: 120px; background-size: cover;  }
.join-title{color: #FFFFFF; font-size: 3.125rem; padding-top: 199px; padding-bottom: 23px;}
form{padding-right: 200px;}
input{width: 644px; height: 50px; padding-left: 20px;}
.subscribe{width: 186px; height: 50px; background-color: #E95A08; color: #FFFFFF; border: none; font-size: 1rem; font-weight: 600; position: absolute; margin-top: 1.5px; }

/* footer  */

footer{max-width: 1140px; padding: 50px 160px; background-color: #FFFFFF;  }
.footer-banner{display: flex; }

.footer-logo{ max-width: 359px;}
.footer-txt{ font-size: 1.375rem; font-weight: 500; margin-top: 16px ;}
.footer-list{list-style: none; margin-bottom: 30px ;}
.footer-icon{display: flex; gap: 24px; padding-bottom: 212px;}

@media (max-width: 400px) {
  
  
  .hide { display: none; }
  nav {gap: 2px;
    align-items: center; justify-content: center;
  }

  .navbar {
    
    gap: 10px;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .hero-title {
    font-size: 2rem;
    text-align: center;
  }

  .hero-para {
    font-size: 1rem;
    text-align: center;
  }

  .hero-image {
    margin-top: 30px;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .plant-store {max-width: 361px;
    flex-direction: column;
    align-items: center;
  
  }

  .plant-right {
    
    text-align: center;
  }

  .deal {
    padding: 0 30px;
  }

  .discount {
    flex-direction: column;
    align-items: center;
  }

  .discount-left,
  .discount-right {
    width: 100% ;
    margin: 10px 0;
  }

  .join {width: 100%;
    
  }

  input {
    width:80% ;margin-left: 5px;
  }

  .subscribe {
    width: 20%;
    
    
  }

  footer {
    padding: 20px;
  }

  .footer-banner {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }

  .footer-icon {
    justify-content: center;
  }
}
